body {
    background-color: rgb(32, 47, 255);
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    color: white;
    text-shadow: 3px 3px 3px black;
    font-size: 50px;
    margin: 20px 0 20px 0;
    justify-self: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section {
    justify-self: center;
    border: solid;
    border-radius: 40px;
    background-color: white;
    box-shadow: 10px 10px 20px;
    height: 400px;
    width: 500px;
    padding-left: 10px;
}
footer {
    justify-self: center;
    margin: 20px;
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    padding-left: 35px;
}
img {
    padding-top: 15px;
    height: 200px;
    width: 200px;
    border-radius: 120px;
}